---
layout: archive
title: "Program Bimbingan Mahasiswa"
permalink: /courses/
author_profile: true
---

<b>Bimbingan Tugas Akhir S1/S2/S3</b> <br>

Kelompok Riset Keamanan Pangan di Pusat Riset Teknologi dan Proses Pangan - BRIN membuka kesempatan bagi mahasiswa Sarjana, Magister atau Doktoral untuk menyelesaikan Tugas Akhir (Tesis/Disertasi) di bidang Keamanan Mikroba Produk Pangan. 
<br>
Persyaratan:<br>
> Mahasiswa Sarjana, Magister, atau Doktoral aktif di bidang terkait (Ilmu Pangan, Teknologi Pangan, Bioteknologi, dsb.).<br>
> Memiliki proposal penelitian yang relevan dengan fokus riset. <br>
> Bersedia dibimbing bersama oleh pembimbing dari Perguruan Tinggi asal dan peneliti dari BRIN.<br><br>
 
Keunggulan Program:<br>
> Dukungan dana riset.<br>
> Akses ke jaringan riset luas.<br>
> Akses ke laboratorium canggih.<br>
> Co-pembimbing Profesional.<br>
> Publikasi ilmiah.<br><br>

Tertarik?<br><br>

Daftarkan dirimu melalui tautan ini:<br>
https://bit.ly/TABRIN<br>
dan pilih topik KEAMANAN MIKROBA PRODUK PANGAN.<br><br>

Info lebih lanjut, hubungi Dr. Nodali Ndraha, email: nodali.ndraha@brin.go.id<br>

{% include base_path %}

{% for post in site.courses reversed %}
  {% include archive-single.html %}
{% endfor %}
