---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Artikel lengkap dapat diakses melalui profil <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

<br>
<b>Artikel Jurnal</b>

<ol>
  <li><strong>Ndraha, N.</strong>, Lin, C. H., Ping, G. A., Tran, G. D., Su, L. M., Huang, C. L., … &amp; Hsiao, H. I. (2024). Assessment and validation of predictive growth models for locally isolated <em>Salmonella enterica </em>and <em>Listeria monocytogenes</em> in alfalfa sprouts at various temperatures. <em>Journal of Food Safety</em>, 44(5), e13171. DOI: <a href="https://doi.org/10.1111/jfs.13171">10.1111/jfs.13171</a></li>
  <li><strong>Ndraha, N.</strong>, Lin, H. Y., Hsiao, H. I., &amp; Lin, H. J. (2024). Managing the microbiological safety of tilapia from farm to consumer. <em>Comprehensive Reviews in Food Science and Food Safety</em>, 23(5), e70023. DOI: <a href="https://doi.org/10.1111/1541-4337.70023">10.1111/1541-4337.70023</a></li>
  <li><strong>Ndraha, N.</strong>, Lin, H. Y., Wang, C. Y., Hsiao, H. I., &amp; Lin, H. J. (2023). Rapid detection methods for foodborne pathogens based on nucleic acid amplification: Recent advances, remaining challenges, and possible opportunities. <em>Food Chemistry: Molecular Sciences</em>, 7, 100183. DOI: <a href="https://doi.org/10.1016/j.fochms.2023.100183">10.1016/j.fochms.2023.100183</a></li>
  <li><strong>Ndraha, N.</strong>, Lin, H. Y., Lin, H. J., &amp; Hsiao, H. I. (2023). Modeling the risk of <em>Vibrio parahaemolyticus</em> in oysters in Taiwan by considering seasonal variations, time periods, climate change scenarios, and post-harvest interventions. <em>Microbial Risk Analysis</em>, 25, 100275. DOI: <a href="https://doi.org/10.1016/j.mran.2023.100275">10.1016/j.mran.2023.100275</a></li>
  <li>Wang, C. Y., <strong>Ndraha, N.</strong>, Wu, R. S., Liu, H. Y., Lin, S. W., Yang, K. M., &amp; Lin, H. Y. (2023). An overview of the potential of food-based carbon dots for biomedical applications. <em>International Journal of Molecular Sciences</em>, 24(23), 16579. DOI: <a href="https://doi.org/10.3390/ijms242316579">10.3390/ijms242316579</a></li>
  <li><strong>Ndraha, N.</strong>, Lin, H. Y., Tsai, S. K., Hsiao, H. I., &amp; Lin, H. J. (2023). The rapid detection of <em>Salmonella enterica</em>, <em>Listeria monocytogenes</em>, and <em>Staphylococcus aureus</em> via polymerase chain reaction combined with magnetic beads and capillary electrophoresis. <em>Foods</em>, 12(21), 3895. DOI: <a href="https://doi.org/10.3390/foods12213895">10.3390/foods12213895</a></li>
  <li>Lin, H. Y., Su, B. Y., <strong>Ndraha, N.</strong>, Tsai, S. F., Chiang, K. P., Liu, H. Y., … &amp; Lin, H. J. (2023). Growth-promoting and low-salt adaptation responses boosted by spermidine in <em>Strombidium parasulcatum</em>, a marine bacteriovorous ciliate potentially applied to live feeds for marine larviculture. <em>Aquaculture</em>, 573, 739616. DOI: <a href="https://doi.org/10.1016/j.aquaculture.2023.739616">10.1016/j.aquaculture.2023.739616</a></li>
  <li><strong>Ndraha, N.</strong>, Huang, L., Wu, V. C., &amp; Hsiao, H. I. (2022). <em>Vibrio parahaemolyticus</em> in seafood: Recent progress in understanding influential factors at harvest and food-safety intervention approaches. <em>Current Opinion in Food Science</em>, 48, 100927. DOI: <a href="https://doi.org/10.1016/j.cofs.2022.100927">10.1016/j.cofs.2022.100927</a></li>
  <li><strong>Ndraha, N.</strong>, Goh, A. P., Tran, G. D., Chen, C. Q., &amp; Hsiao, H. I. (2022). Predictive models for the growth of <em>Salmonella</em> spp., <em>Listeria</em> spp., and <em>Escherichia coli</em> in lettuce harvested on Taiwanese farms. <em>Journal of Food Science</em>, 87(8), 3599-3610. DOI: <a href="https://doi.org/10.1111/1750-3841.16236">10.1111/1750-3841.16236</a></li>
  <li><strong>Ndraha, N.</strong>, &amp; Hsiao, H. I. (2022). A climate-driven model for predicting the level of <em>Vibrio parahaemolyticus</em> in oysters harvested from Taiwanese farms using elastic net regularized regression. <em>Microbial Risk Analysis</em>, 21, 100201. DOI: <a href="https://doi.org/10.1016/j.mran.2022.100201">10.1016/j.mran.2022.100201</a></li>
  <li>Lin, H. T. V., Ting, Y. S., <strong>Ndraha, N.</strong>, Hsiao, H. I., &amp; Sung, W. C. (2022). Effect of chitosan incorporation on the development of acrylamide during maillard reaction in fructose–asparagine model solution and the functional characteristics of the resultants. <em>Polymers</em>, 14(8), 1565. DOI: <a href="https://doi.org/10.3390/polym14081565">10.3390/polym14081565</a></li>
  <li><strong>Ndraha, N.</strong>, Hsiao, H. I., Hsieh, Y. Z., &amp; Pradhan, A. K. (2021). Predictive models for the effect of environmental factors on the abundance of <em>Vibrio parahaemolyticus</em> in oyster farms in Taiwan using extreme gradient boosting. <em>Food Control</em>, 130, 108353. DOI: <a href="https://doi.org/10.1016/j.foodcont.2021.108353">10.1016/j.foodcont.2021.108353</a></li>
  <li><strong>Ndraha, N.</strong>, &amp; Hsiao, H. I. (2021). Influence of climatic factors on the temporal occurrence and distribution of total and pathogenic <em>Vibrio parahaemolyticus </em>in oyster culture environments in Taiwan. <em>Food Microbiology</em>, 98, 103765. DOI: <a href="https://doi.org/10.1016/j.fm.2021.103765">10.1016/j.fm.2021.103765</a></li>
  <li><strong>Ndraha, N.</strong>, Wong, H. C., &amp; Hsiao, H. I. (2020). Managing the risk of <em>Vibrio parahaemolyticus</em> infections associated with oyster consumption: A review. <em>Comprehensive Reviews in Food Science and Food Safety</em>, 19(3), 1187-1217. DOI: <a href="https://doi.org/10.1111/1541-4337.12557">10.1111/1541-4337.12557</a></li>
  <li><strong>Ndraha, N.</strong>, &amp; Hsiao, H. I. (2019). The risk assessment of <em>Vibrio parahaemolyticus</em> in raw oysters in Taiwan under the seasonal variations, time horizons, and climate scenarios. <em>Food Control</em>, 102, 188-196. DOI: <a href="https://doi.org/10.1016/j.foodcont.2019.03.020">10.1016/j.foodcont.2019.03.020</a></li>
  <li><strong>Ndraha, N.</strong>, &amp; Hsiao, H. I. (2019). Exposure assessment and sensitivity analysis for chilled shrimp during distribution: A case study of home delivery services in Taiwan. <em>Journal of Food Science</em>, 84(4), 859-870. DOI: <a href="https://doi.org/10.1111/1750-3841.14498">10.1111/1750-3841.14498</a></li>
  <li>Tran, G. D., <strong>Ndraha, N.</strong>, &amp; Hsiao, H. I. (2019). Development of predictive model for the remaining shelf-life of tilapia fillet under variable temperature conditions. <em>J Fish Soc Taiwan</em>, 46(1), 19-30. DOI: <a href="https://doi.org/10.29822/JFST.201903_46(1).0002">10.29822/JFST.201903_46(1).0002</a></li>
  <li><strong>Ndraha, N.</strong>, Sung, W. C., &amp; Hsiao, H. I. (2019). Evaluation of the cold chain management options to preserve the shelf life of frozen shrimps: A case study in the home delivery services in Taiwan. <em>Journal of Food Engineering</em>, 242, 21-30. DOI: <a href="https://doi.org/10.1016/j.jfoodeng.2018.08.010">10.1016/j.jfoodeng.2018.08.010</a></li>
  <li><strong>Ndraha, N.</strong>, Hsiao, H. I., Vlajic, J., Yang, M. F., &amp; Lin, H. T. V. (2018). Time-temperature abuse in the food cold chain: Review of issues, challenges, and recommendations. <em>Food Control</em>, 89, 12-21. DOI: <a href="https://doi.org/10.1016/j.foodcont.2018.01.027">10.1016/j.foodcont.2018.01.027</a></li>
  <li><strong>Ndraha, N.</strong>, Hsiao, H. I., &amp; Wang, W. C. C. (2017). Comparative study of imported food control systems of Taiwan, Japan, the United States, and the European Union. <em>Food Control</em>, 78, 331-341. DOI: <a href="https://doi.org/10.1016/j.foodcont.2017.02.051">10.1016/j.foodcont.2017.02.051</a></li>
</ol>

<b>Bab/Bagian Buku</b>
<ol>
  <li><strong>Ndraha, N.</strong>, Vlajic, J., Chang, C. C., & Hsiao, H. I. (2020). Challenges with food waste management in the food cold chains. In Food Industry Wastes (pp. 467-483). Academic Press.</li>
</ol> 

<b>Symposium</b>
<ol>
  <li>Tran, G. D., <strong>Ndraha, N.</strong>, Hsiao, H. I., Tsai, G. J., & Tseng, H. J. (2019). Use of predictive modelling for fish quality evaluation under temperature fluctuations. IAFP’s European Symposium on Food Safety (2019.04.24-26), Nantes, France.</li>
  <li><strong>Ndraha, N.</strong> (2017). Fish quality evaluation using Quality Index Method (QIM), correlating with physical, chemical and bacteriological changes during the ice-storage period: A review. In Proceeding of the 1st International Conference on Tropical Agriculture (pp. 185-196). Springer International Publishing.</li>
</ol> 

{% include base_path %}

<!-- New style rendering if publication categories are defined -->




